/* Global styles */
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
}

/* Navbar starts */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 2.4rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: white;
}

.navbar-bg {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 26px 24px 90px 0 rgba(87, 183, 171, 0.19);
}

.nav-fav-btn {
  border: none;
  background-color: unset;
  display: flex;
  align-items: center;
}

.nav-fav {
  width: 20px;
  height: 20px;
}

.logo {
  width: 150px;
}

.navbar-container {
  display: contents;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-logo {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 0.5rem;
  color: black;
}

.nav-links {
  display: flex;
  align-items: center;
}

.link {
  position: relative;
  padding: 0.5rem 0.5rem;
  text-decoration: none;
  color: black;
  transition: color 0.3s ease-in-out;
}

.link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #4a91a0;
  transition: width 0.4s ease-in-out;
}

.link:hover {
  color: #4a91a0;
}

.link:hover::after {
  width: 100%;
}

.nav-btn {
  display: flex;
  gap: 2rem;
}

.navbar-menu {
  list-style: none;
  display: flex;
  gap: 43px;
}

.call-btn {
  border: none;
  background-color: unset;
  color: #4a91a0;
}

.bars {
  display: none;
  color: #333;
  cursor: pointer;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 1rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.show-nav {
  opacity: 1;
  visibility: visible;
}

.nav-link {
  padding: 1rem;
  border-bottom: 1px solid #ddd;
  text-align: center;
  text-decoration: none;
}

@media (max-width: 850px) {
  .nav-links {
    display: none;
  }

  .bars {
    display: block;
  }
}
/* Navbar ends */

/* GalleryForm section starts */
/* GalleryForm Styles */
.gallery-form {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gallery-form h2 {
  color: #2c3e50;
  text-align: center;
  margin-bottom: 20px;
}

.gallery-form label {
  display: block;
  color: #333333;
  margin-bottom: 8px;
  font-weight: bold;
}

.gallery-form input[type="text"],
.gallery-form textarea,
.gallery-form input[type="file"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #ffffff;
  margin-bottom: 20px;
  font-size: 16px;
  color: #2c3e50;
}

.gallery-form input[type="file"] {
  padding: 8px;
}

.gallery-form img {
  display: block;
  margin: 10px auto;
  width: 100px;
  height: auto;
  border: 2px solid #ddd;
  border-radius: 4px;
}

.gallery-form button {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 4px;
  background-color: #4a91a0;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.gallery-form button:hover {
  background-color: #ff6f61;
}

.gallery-form .form-section {
  margin-bottom: 20px;
}

.gallery-form button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

/* GalleryForm section ends */

/* GalleryList section starts */
.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.gallery-item {
  width: 200px;
  text-align: center;
}

.gallery-item img {
  width: 100%;
  height: auto;
}

.gallery-item button {
  background-color: red;
  color: white;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
}

.gallery-item button:hover {
  background-color: darkred;
}
/* GalleryList section ends */

/* ServiceList section starts */
.service-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.service-item {
  width: 200px;
  text-align: center;
}

.service-item img {
  width: 100%;
  height: auto;
}

.service-item button {
  background-color: red;
  color: white;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
}

.service-item button:hover {
  background-color: darkred;
}
/* ServiceList section ends */

/* Footer section starts */
.footer {
  background-color: #f4f5f7;
  color: #333;
  padding: 2rem 1rem;
  text-align: left;
  box-shadow: 2px 2px 2px 4px rgba(0, 0, 0, 0.1); 
}

.footer-widgets {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.footer-column {
  flex: 1;
  min-width: 240px;
  margin: 0 1rem;
}

.footer-widget {
  margin-bottom: 1.5rem;
}

.footer-widget h5 {
  font-size: 1.2rem;
  color: #4a91a0;
  margin-bottom: 1rem;
}

.footer-widget p,
.footer-widget ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-widget ul {
  padding: 0;
}

.footer-widget ul li {
  display: flex;
  align-items: normal;
  margin-bottom: 0.5rem;
  gap: 0.5rem;

}

.footer-widget ul li .icon {
  margin-right: 0.5rem;
}

.footer-widget ul li a {
  color: #4a91a0; 
  text-decoration: none;
  margin: 0;
}

.footer-widget ul li a:hover {
  text-decoration: underline;
}

.footer-widget .social-media {
  display: flex;
  gap: 1rem;
}

.footer-widget .social-media li a {
  text-decoration: none;
  color: #4a91a0;
}

.footer-widget .social-media li a:hover {
  text-decoration: underline;
}

.footer-info-bar {
  color: #333;
  padding: 1rem;
  text-align: center;
}

.footer-info-bar p {
  margin: 0;
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .footer-widgets {
    flex-direction: column;
  }

  .footer-column {
    margin-bottom: 2rem;
  }
}

/* Footer section ends */
